.form {
  display: flex;
  flex-direction: column;
}
.form > label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.form > label > input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.form > label > input:hover {
  border: 1.5px solid #000;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form > label > input:active {
  outline: none;
  border: 2px solid #4e75ff;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form > fieldset {
  margin-top: 16px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  height: 78px;
  padding: 0;
  display: flex;
}

.form > fieldset > label {
  display: flex;
 align-items: baseline;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;

}
.form > fieldset > label > input {
  width: 32px;
  height: 32px;
   margin-left: 48px;
   margin-top: 20px;
   margin-right: 16px;
}

.form > button {
  margin-top: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.form > button:hover {
  background: #6c8cff;
}
